 @import "../../../scss/partials/variable";
 /**/
 
 .HadithAboutContainer {
     .HadithAboutContainer__row {
         .row__col {}
         // col2 
         .row__imgWrapper,
         .row__col2 {
             img {}
         }
         // col1 
         .row__textWrapper,
         .row__col1 {
             .textBox1 {
                 border-left: 2px solid #000;
                 h4 {}
             }
             .textBox {
                 h4 {}
                 p {}
             }
             //  explore button 
             .exploreButton {
                 background-color: transparent;
                 a {
                     background: linear-gradient(to right, $theme_green_04 50%, black 50%);
                     background-clip: text;
                     background-size: 200% 100%;
                     background-position: 100%;
                     ;
                     p {}
                     span {}
                     &:hover {}
                 }
             }
         }
     }
 }
 
 //  ... 
 .hadithBooks__infoRowContainer {
     .hadithBooks__infoRow {
         background-color: $theme_gray_01;
         .infoRowBox {
             .infoRowBox_icon {
                 span {}
             }
             .infoRowBox_text {
                 h4 {}
                 p {}
             }
         }
     }
 }