@import "@/app/scss/partials/variable";

/**/

.usefull_toolsContainer {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    .containerInner {
        display: flex;
        align-items: center;
        gap: 15px;
        .tool {
            position: relative;
            .toolAbslt {
                position: absolute;
                top: 0;
                left: 0;
                transform: translateY(-150%);
                width: max-content;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.2s ease, visibility 0.2s;
                >div {
                    position: relative;
                    p {
                        padding: 5px 12px;
                        font-size: 14px;
                        position: relative;
                    }
                    span {
                        position: absolute;
                        transform: translateX(4px) rotate(-40deg);
                        width: 15px;
                        height: 20px;
                        opacity: 0;
                        bottom: -5px;
                        left: 0;
                        visibility: hidden;
                        transition: opacity 0.2s ease, visibility 0.2s;
                    }
                }
            }
            &:hover .toolAbslt {
                opacity: 1;
                visibility: visible;
                >div span {
                    opacity: 1;
                    visibility: visible;
                }
            }
            cursor: pointer;
            span {
                user-select: none;
                font-size: 25px;
            }
        }
        .scrollToCurrent_tool {
            span {
                transform: rotate( -90deg);
            }
        }
    }
    // .langSelectContainer 
    .noMatch {
        font-size: 16px;
        font-weight: 400;
    }
    .langSelectContainer {
        display: flex;
        align-items: center;
        .selectBox {
            margin-right: 7px;
            .currentView {
                padding: 10px 10px 7px 10px;
                position: relative;
                min-width: 150px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                user-select: none;
                position: relative;
                >p {
                    position: absolute;
                    top: 0;
                    transform: translateY(-50%);
                    left: 10%;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 0 5px;
                }
                >input {
                    padding-right: 15px;
                }
                >span {
                    font-size: 21px;
                    transition: 0.2s ease;
                    border-radius: 100%;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 2px;
                    &:hover {
                        cursor: pointer;
                        transform: translateY(1.5px) scale(.90);
                    }
                }
                .displayBox {
                    position: absolute;
                    top: 120%;
                    right: -1px;
                    min-width: 150px;
                    padding: 18px 15px;
                    z-index: 3;
                    overflow-y: auto;
                    display: block;
                    max-height: 200px;
                    input {
                        padding-left: 5px;
                        height: 30px;
                        margin-bottom: 10px;
                        pointer-events: all;
                        &::placeholder {
                            padding-left: 2px;
                        }
                    }
                    .box {
                        .languageOption {
                            margin: 6px 0;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            &:hover span {
                                opacity: 1;
                            }
                            p {
                                font-weight: 400;
                                font-size: 16px;
                            }
                            span {
                                font-weight: 400;
                                font-size: 16px;
                                padding-top: 1px;
                                padding-left: 12px;
                                transition: 0.2s ease;
                                opacity: 0;
                            }
                        }
                    }
                }
                .vrsnFetredisplayBox {
                    padding: 10px 15px;
                    p {
                        pointer-events: all;
                        font-size: 15px;
                        font-weight: 300;
                        padding-bottom: 5px;
                        width: max-content;
                    }
                }
            }
        }
    }
}