@import "../../../scss/partials/variable";

/**/

.QuranAboutContainer {
    background-color: $theme_green_08;
    .QuranAboutContainer__row {
        .row__col {}
        // col1 
        .row__imgWrapper,
        .row__col1 {
            img {}
        }
        // col2 
        .row__textWrapper,
        .row__col2 {
            .textBox1 {
                border-left: 1.5px solid $theme_light_04;
                h4 {
                    color: $theme_light_04;
                    font-weight: 500;
                }
            }
            .textBox {
                h4 {
                    color: $theme_light_04;
                    font-weight: 500;
                }
                p {
                    color: $theme_light_04;
                    font-weight: 200;
                }
            }
            //  explore button 
            .exploreButton {
                background-color: transparent;
                a {
                    background: linear-gradient(to right, $theme_green_03 50%, white 50%);
                    background-clip: text;
                    background-size: 200% 100%;
                    background-position: 100%;
                }
            }
        }
    }
}

//  Navigate button 
.NavigateButton_container {
    background-color: $theme_green_08;
    .NavigateButton {
        .NavigateBtnSect_text_Btn_wrapper1 {
            background-color: white;
            opacity: 1;
        }
        .NavigateBtnSect_text_Btn_wrapper2 {
            background-color: $theme_green_08;
            .NavigateButton_text {
                h4 {
                    color: white;
                }
                p {
                    color: rgba(255, 255, 255, 0.817);
                    font-weight: 200;
                    font-size: 15px;
                    line-height: 1.5;
                }
            }
            .NavigateButton_button {
                a {
                    background-color: $theme_green_08;
                    border: 1px solid white;
                    color: white;
                    &:hover {
                        background-color: $theme_light_01;
                        color: $theme_green_05;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}