@import "../../../scss/partials/variable";
@import "../../../scss/partials/extend";

/**/

.FooterBg {
    .Footer {
        padding: 70px 0 0 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        .FooterGrid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            .GridBox {
                color: white;
                .title {
                    font-size: 18px;
                    font-weight: 500;
                    text-transform: uppercase;
                    padding-bottom: 20px;
                    letter-spacing: .5px;
                }
                .lists {
                    display: block;
                    .links {
                        @extend .flexAlignCenter;
                        padding: 5px 0;
                        color: white;
                        width: max-content;
                        span {
                            opacity: 0;
                            font-size: 19px;
                            color: white;
                            transition: 0.3s ease;
                            transform: translateY(1px);
                        }
                        p {
                            font-size: 14.3px;
                            font-weight: 300;
                            padding-right: 5px;
                            transition: 0.3s ease;
                        }
                        &:hover {
                            span {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .GridBox4 {
                .formBox {
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: calc(100% - 10px);
                        height: .5px;
                    }
                    p {
                        font-size: 12px;
                        font-weight: 400;
                        padding-bottom: 10px;
                        padding-top: 5px;
                    }
                    form {
                        @extend .flexAlignCenter;
                        input {
                            flex: 1;
                            padding-left: 5px;
                            height: 35px;
                            &::placeholder {
                                text-transform: none;
                                font-size: 14px;
                                font-weight: 100;
                                padding-left: 3px;
                            }
                        }
                        button {
                            cursor: pointer;
                            margin-left: 5px;
                            padding: 9px 20px;
                            letter-spacing: .5px;
                            font-size: 12px;
                            font-weight: 200;
                            width: max-content;
                            &:hover {
                                color: rgba(255, 255, 255, 0.775);
                            }
                        }
                    }
                }
                // social icons 
                .socialIconsWrap {
                    padding-top: 50px;
                    p {
                        font-size: 15px;
                        font-weight: 400;
                        padding-bottom: 15px;
                    }
                    .iconsRow {
                        @extend .flexAlignCenter;
                        a {
                            margin-right: 15px;
                            position: relative;
                            transition: 0.4s ease;
                            img {
                                width: 18px;
                                height: max-content;
                                transition: 0.3s ease;
                            }
                            &::after {
                                content: '';
                                position: absolute;
                                bottom: -9px;
                                left: 0;
                                width: 0;
                                height: .5px;
                                transition: 0.4s ease;
                            }
                            &:hover::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        // copyright-text ---
        .copyRightStamp {
            padding: 20px 0;
            text-align: center;
            margin-top: 50px;
            p {
                font-size: 14px;
                font-weight: 200;
                text-transform: lowercase;
            }
        }
    }
}