// app/scss_partial/_variable.scss  
// 
// 
//   green 
$theme_green_01: #dffb15;
$theme_green_02: #bfd904;
$theme_green_03: #93a703;
$theme_green_04: #4e7f02;
$theme_green_05: #2f4d01;
$theme_green_06: #101b00;
$theme_green_07: #33665d;
$theme_green_08: #1E2203;
$theme_green_09: #179F87;
$theme_green_10: #414833;
// 
// 
//   aqua
$theme_aqua_01: #03728b;
$theme_aqua_02: #024959;
$theme_aqua_03: #012027;
// 
// 
//   skin
$theme_skin_01: #f9f7e9;
$theme_skin_02: #ECDFD6;
$theme_skin_03: #E7E3D8;
$theme_skin_04: #FBF9EF;
// 
// 
//   white
$theme_light_01: #f9faff;
$theme_light_02: #F0F1F5;
$theme_light_03: #9a9ca3;
$theme_light_04: #F6F6F6;
$theme_light_05: #e9e9e9;
// 
// 
//   black
$theme_gray_01: #F2F2F2;
$theme_gray_02: #F7F7F7;
$theme_gray_03: #EAEAEA;
$theme_gray_04: #F2F1ED;
$theme_gray_05: rgba(0, 0, 0, 0.749);
$theme_gray_06: rgba(0, 0, 0, 0.506);
$theme_gray_07: #1A1A1A;